.centralizado {
  text-align: center;
}

.lista-fotos {
  list-style: none;
}

.lista-fotos .lista-fotos-item {
  display: inline-block;
}

.titulo {
  text-align: center;
}

.filtro {
  display: block;
  width: 100%;
}
